* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
}

.recomendation-card {
  width: 100vw;
}

.cards {
  display: flex;
  overflow-x: auto;
}

.card {
  flex: none;
}

.recomendation-card-image {
  height: 150px;
  width: 175px;
}

.start-button {
  bottom: 0;
  position: fixed;
}
